.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.image {
  width: 300px;
  transition: 0.3s;
}
.image:hover {
  width: 310px;
}
.magic {
  width: 100px;
  position: absolute;
  animation: fill 5s ease infinite;
}
.magic-right {
  width: 100px;
  position: absolute;
  animation: fill2 5s ease infinite;
}
.magic1 {
  top: 40px;
}

.magic3 {
  top: 40px;
}

@keyframes fill {
  0% {
    left: 3%;
    opacity: 0%;
  }

  50% {
    left: 3%;
    opacity: 50%;
  }

  100% {
    left: 3%;
    opacity: 0%;
  }
}
@keyframes fill2 {
  0% {
    right: 3%;
    opacity: 0%;
  }

  50% {
    right: 3%;
    opacity: 50%;
  }

  100% {
    right: 3%;
    opacity: 0%;
  }
}

.wood-text {
  background: url("https://i.imgur.com/OUyfQnt.jpg");
  background-size: cover;
  position: relative;
  font-size: 110px * 1.5;
  text-transform: uppercase;
  font-family: "Rancho", cursive;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.backg {
  background-color: rgba(1, 13, 36, 0.783);
}
.cardlist {
  background-color: rgba(0, 40, 114, 0.783);
}
